
/packages
/.idea
/builds/build.properties
/source/administrator/components/com_jedchecker/tmp
/tx.exe
/.settings
/.buildpath
/.project

# Project management
.vscode/
.editorconfig
.eslintrc.json
.jsbeautifyrc
.jshintrc
.markdownlint.json
jsconfig.json
.php_cs.dist
.php_cs
.gitkeep

