/* BS5 spinner */
@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
#jedchecker .spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: 0.75s linear infinite spinner-border;
  animation: 0.75s linear infinite spinner-border;
}

#jedchecker .spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

#jedchecker .spinner-border.hidden {
  display: none;
}

/* Style overrides */
#jedchecker .list-group-item-action.list-group-item-action.active {
  color: #fff;
  background-color: #132f53 !important;
  border-color: #132f53 !important;
}

#jedchecker .badge {
  border: none !important;
  padding: 0.3rem 0.45rem !important;
}
#jedchecker .badge.bg-info {
  background-color: #2a69b8 !important;
  color: #fff;
}
#jedchecker .alert.alert-warning {
  color: #664808;
  background-color: #fff0d0;
  border-color: #ffe9b9;
}
#jedchecker .alert.alert-info {
  color: #193f6e;
  background-color: #d4e1f1;
  border-color: #bfcbd9;
}
#jedchecker .alert pre {
	margin-bottom: 0;
	white-space: pre;
}

/* fixes for Joomla! 3.x */
#jedchecker input[type="file"] {
	height: auto;
}
#jedchecker .fade.show {
	opacity: 1;
}
#jedchecker .collapse {
	height: inherit;
}
