#adminForm {
    background: #FFF;
}

#police-check-result {
	padding: 0;
}

#police-check-result > div {
	border-top: 1px solid #ccc;
	padding: 5px 10px;
}

#police-check-result .alert {
	margin: 5px 0;
}

.copyright {
    line-height: 160%;
    margin: 10px;
    text-align: center;
}

.rule {
    font-weight: bold;
}

small {
	font-size: 110%;
    padding: 0 0 0 30px;
    white-space: nowrap;

}
#police-check-result li {
	margin-bottom:0.7em;
	overflow:hidden;
}
#police-check-result ul li pre {
	background: white none repeat scroll 0 0;
	border: 1px solid #ccc;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 2px 6px;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.jamss_tooltip {
	background-color:blue;
	color:white;
	border-radius:20px;
}
.jamss_tooltip.code {
	background-color:#C03020;
}
