.icon-32-unzip {
    background-image: url(../icons/unzip.png);
}
.icon-32-police-check {
    background-image: url(../icons/inspect.png);
}

#adminForm {
    background: #FFF;
}
#police-check-result {
    background: #F6F6F6;
    border: 1px solid #CCC;
}

#police-check-result div:nth-child(odd){
    border-bottom: 1px solid #CCCCCC;
}

#police-check-result div:nth-child(even){
    background: #EBF1F2;
}

#police-check-result div {
    padding: 5px 10px 5px;
}

.help {
    padding: 5px;
    border: 1px solid #CCCCCC;
    background: #FFF;
    margin-left: 10px;
}

.copyright {
    line-height: 160%;
    margin: 10px;
    text-align: center;
}

.rule {
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

.jedchecker-info-message {
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
	color: #3A87AD;
	margin: 5px;
	padding: 5px;
	list-style:none;
}

.jedchecker-warning-message {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 4px;
	color: #C09853;
	margin: 5px;
	padding: 5px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	list-style:none;
}